@charset "utf-8";
/* CSS Document */
.invitation_template-mian{
	margin:0 auto;width:100%; height:1650px; float:left; background-color:#EAEBE9;
}

.invitation-main-all{
	margin:5px 0 5% 5%;width:90%; height:1445px;  float:left;
}
.forum-adv{
	width:100%; height:100px;
}

.forum-adv .adv_1{ /*广告位1*/
	width:49.5%; height:100%; float:left; background-color:#0FC;
}

.forum-adv .adv_2{ /*广告位2*/
	width:49.5%; height:100%; float:right; margin-left:1%; background-color:#0FC;
}

.invitation-content{ /*帖子的内容*/
	width:70%; height:1000px; float:left; 	margin-top:5px;
}

.invitation-content-a{ /*热门推荐*/
	width:100%;
	height:60px;
	background-color:#FFF;
}
.invitation-content-a .hot-bankuai{ /*热门板块*/
	margin-left: 20px;
    float: left;
    color: #333;
	line-height:60px;
	font-size:14px;
}

.hotplace-pic{  /*图片的整个ul*/
    overflow: hidden;
    float: left;
    margin-left: 15px;
}

.hotplace-pic .hotlist{
	padding:0px;
	display:inline-block;
	margin-right:16px;
}

.hotplace-pic .hotlist-con{  /*a标签*/
    display: inline-block;
    color: #333;
    line-height: 18px;
    margin-top: 17px;
}
.hotplace-pic .hotlist-pic{ /*图片*/
	font:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	line-height:60px;
	width:30px; height:30px;
	float:left;
}


.hotplace-pic .hotlist-text{ /*热门的文字*/
	line-height:30px;
}

.invitation-content-b{/*帖子*/
	width:100%;
	height:1400px;
	margin-top:5px;
	background-color: #fff;
    border: 1px solid #e6e6e6;
}

.invitation-content-b-con{ 
	margin: 20px 30px;
}

/*推荐*/
.invitation-content-b .invitation-content-b-con .invitation-content-b-nav .b-nav-list .current {
    background: #f3f3f3;
}

.invitation-content-b .invitation-content-b-con .invitation-content-b-nav .b-nav-list{
    color: #333;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
}

/*发表新主题*/
.invitation-content-b .invitation-content-b-con .invitation-content-b-nav .b-nav-btn{
	float: right;
    height: 30px;
    line-height: 30px;
    width: 116px;
    font-size: 12px;
    text-decoration: none;
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #ff8b3d;
    border: 1px solid #ff8b3d;
    color: #fff;
    padding: 0;
    width: 148px;
}
.btn:hover, .btn:focus{
	background-color:#ff7519;
	color:#fff;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
}

.invitation-content-b ul{
 	width:100%;
	height: 995px;
}
.invitation-content-b ul li{
	width:100%;
	height:90px;
	position: relative;
    padding-top: 16px;
}

.invitation-content-b ul li .theme_list_img{
	width: 50px;
    float: left;
    position: relative;
}


.invitation-content-b ul li .theme_list_img img{  /*人物头像图片*/
	width:60px;
	height:60px;
	display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2px;
}

.invitation-content-b ul li .theme_list_con{
	width:100%;
	height:65px;
	margin-left:60px;
}

.invitation-content-b ul li .theme_list_con .title{
	width:100%;
	height:26px;
	margin-top:10px;
}

.invitation-content-b ul li .theme_list_con .title .title_name{
	margin-left:10px;
	float:left;
	display: inline-block;
    width: auto;
    max-width: 524px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-size: 16px;
}

.invitation-content-b ul li .theme_list_con  .title .stamp{
	margin-left: 5px;
	width:23px; height:16px;
}

.invitation-content-b ul li .theme_list_con  .title img{  /*图片精*/
	margin:0 3px 0 0;
    display:inline-block;
    vertical-align: middle;
}

.invitation-content-b ul li .theme_list_con .auth_msg{  /*状态---用户的信息*/
	line-height: 18px;
    margin: 6px 60px 6px 10px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
}

.invitation-content-b ul li .theme_list_con .auth_msg .user_name{
	font-size: 14px;
    color: #8c8c8c;
}
.invitation-content-b ul li .theme_list_con .auth_msg a{
	float:left;
	vertical-align: middle;
	outline: 0;
    text-decoration: none
}


.invitation-content-b ul li .theme_list_con .auth_msg .vip_icon img{
	width:250px; height:20px;
	margin-left:5px;
	margin-bottom:15px;
	display:inline-block;
	position:absolute;
	clip:rect(0px 20px 20px 0px);
	float:left;
}

.invitation-content-b ul li .theme_list_con .auth_msg .txt{ /*时间和置顶*/
	font-size: 14px;
    color: #8c8c8c;
    margin-left: 25px;
}

.invitation-content-b ul li .theme_list_con .auth_msg .numb{
	float: right;
    display: inline-block;
    font-size: 14px;
    color: #9da5ab;
    height: 18px;
}
.invitation-content-b ul li .theme_list_con .auth_msg .numb img{
	width:20px;
	height:15px;
}

.invitation-content-b ul li .look-more{ /*查看更多*/
	text-align:center;
	font-size:18px;
	font-family:"仿宋";
	font-weight:800;
	color:#333;
}
.invitation-content-b ul li .look-more a{ /*查看更多*/
	color:#333;
}

.invitation-content-b ul li .look-more a:hover{ /*查看更多*/
	color:#ff8b3d;
}


.contain_left{ /*帖子精选内容*/ 
	margin:0 0 0 3%;width:27%; height:1045px;  float:right;  z-index: 1; position: relative; 	margin-top:5px;
}

.fr{
	float:right;
}

.left-wrap{

	background: #fff;
    margin-bottom: 15px;
}

.sidebarplate{
	border: 1px solid #e6e6e6;
    overflow: hidden;
    font-size: 14px;
}

.sidebarplate .sidebarplate_tab{
	height: 45px;
    line-height: 45px;
    background: #fafafa;
    font-weight: bold;
}

.sidebarplate .sidebarplate_tab .tab {
    width: 100%;
    margin-left: -1px;
    color: #333;
	background-color:#0FF;
}

.sidebarplate .sidebarplate_tab .tab span.on {
    height: 36px;
    line-height: 32px;
    border-top: 8px solid #ccd1d9;
    background: #fff;
}

.sidebarplate .sidebarplate_tab .tab span {
    cursor: pointer;
    float: left;
    width: 49%;
    border-left: 1px solid #e8e8e8;
    text-align: center;
}

.sidebarplate ul li {
    float: left;
    width: 49.5%;
    height: 45px;
    line-height: 45px;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    text-align: center;
	background-color:#FFF;
}

.right-warp {
	margin-top:10px;
	background-color:#fff;
}

.right-warp .con{ /*论坛公告*/
	border: 1px solid #e6e6e6;
    padding: 20px 20%;
}

.right-warp .con .forum_notice p{
	text-align: center;
	font-size:18px;
	font-weight:800;
}
.right-warp .con .forum_notice{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;		
}

.right-warp .con .forum_notice_text{
    font-size: 16px;
	font-weight:600;
    line-height: 16px;
    display: block;
    margin-top: 10px;	
	text-align: center;
}

.right-warp .con .text_tuijian{
	color:#FA0310;
}