@charset "utf-8";
/* CSS Document */
.navigation ul{
	padding-left:10%;
	padding-top:10%;
}

.top_1{
	width:280px;
	height:50px;
	margin-top:10px;
	background:#999;
}
.top_1  h3{
	margin-left:30px;
	margin-top:10px;
}

.top10_2{
	width:100%;
	height:570px;
	float:left;
	margin-left:10px;
}


.images{
	width:95%;
	height:560px;
	margin-left:3%;
}



.images img{
	height:560px;
	width:100%;
}




.row_1{
	height:40px;
}
.row_1 p{
	margin-left:50px;
}
.row_1 p a{
	text-decoration:none;
}

.content_1{
	height:200px;
	width:49%;
	float:left;
	margin-top:10px;
	border:#CCC solid 1px;
	margin-left:0.5%;
}
.content_4{
	height:200px;
	width:200px;
	float:left;
}
#content  img{
	width:180px;
	height:180px;
}

.content_3{
	height:200px;
	margin-left:5px;
	width:380px;;
	float:left;
}

.text{
	width:67%;
	height:500px;
	float:left;
}

.one{
	border:#CCC solid 1px;
	width:49%;
	height:500px;
	float:left;
	margin-left:0.5%;
}
.two{
	border:#CCC solid 1px;
	width:49%;
	height:500px;
	margin-left:1%;
	float:left;
}
.px{
	border:#666 solid 1px;
	width:31%;
	height:500px;
	background:#CCC;
	margin-left:1%;
	float:right;
}



.title{
	width:100%;
	height:50px;
}
.title h1{
	text-align:center;
}
#elect  img{
	width:320px;
	height:350px;
	margin-left:30px;
	
}

#dh ul{
	height:40px;
	line-height:40px;
	list-style:none;
}
#dh ul li{
 	border: 1px solid #4f4f4f;
    float: left;
    height:30px;
    line-height:30px;
    margin-left:10px;
	margin-top:-10px;
    text-align:center;
	width:100px;
}

#one_1{
	float: left;
    height:30px;
	margin-left: 10px;
	margin-right:170px;
	background:#F00;
}
#dh ul li a{
	text-decoration:none;
	color:#FFF;
}
