<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.yc.hdmedia.filter.CharacterEncodingFilte</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
<!--
	 <filter>
		<filter-name>CheckGuanLiLogin</filter-name>
		<filter-class>com.yc.hdmedia.filter.CheckGuanLiLogin</filter-class>
		<init-param>
			<param-name>errorPage</param-name>
			<param-value>/fail.jsp</param-value>
		</init-param>
	</filter>
	</filter>  
	 -->
	<!-- 过滤字符编码集 -->
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/back/*</url-pattern>
	</filter-mapping>
	<!-- 过滤管理员登录 ,做完再用-->
	<!-- <filter-mapping>
		<filter-name>CheckGuanLiLogin</filter-name>
		<url-pattern>/back/*</url-pattern>
	</filter-mapping> -->

	<!-- spring容器生成配制 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring*.xml</param-value> <!-- spring配制文件所在的位置, *表示任何长度的任意字符 -->
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- strturs框架的过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
