<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.hdmedia.mapper.GeoraphyBackMapper">
	
	<!-- 查询一共有多少个管理员 -->
	<select id="selectTotal" resultType="int">
		select count(1) from province
	</select>
	
	<!-- 通过管理员id查找管理员 -->
	<!-- <select id="selectGuanLiByGLId" parameterType="int" resultType="GuanLi">
		select * from GuanLi where glid=#{glid}
	</select> -->
	
	<!-- 查找所有的管理员 -->
	<select id="selectAllProvinces" parameterType="map" resultType="provinceBack">
		select * from (select a.*,rownum rn from (select * from province order by prid) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<!-- 通过省份id查看所有的人物 -->
	<select id="selectAllPersonsByPrid" parameterType="int" resultType="propersonBack">
		select pp.* from properson pp,province p where p.prid=pp.prid and p.prid=#{prid} and ppstatus=1 and prstatus=1
	</select>
	
	<!-- 通过省份id查找所有人物的名称 -->
	<select id="selectAllPersonNamesByPrid" parameterType="int" resultType="PropersonBack">
		select pp.ppname, prpid from properson pp,province p where p.prid=pp.prid and p.prid=#{prid} and ppstatus=1 and prstatus=1
	</select>
	
	<!-- 通过人物id获取人物的信息 -->
	<select id="selectPersonByPrpid" parameterType="int" resultType="PropersonBack">
		select * from properson where prpid=#{prpid}
	</select>
	
	<!-- 后台获取所有省份的名称 -->
	<select id="selectAllProvincePrnames" resultType="provinceBack">
		select prid,prname from province where prstatus=1
	</select>
	
</mapper>