<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.hdmedia.mapper.TieZiMapper">
	<insert id="addTieZi" parameterType="TieZi">
	<!-- 帖子  -->
		<selectKey keyProperty="ltid" keyColumn="ltid" order="BEFORE" resultType="int">
			select ltid  from luntan where ltname=#{ltname} and ltstatus=1 and 1>=rownum
		</selectKey>
		insert into tiezi values(seq_tiezi_tid.nextval,#{ltid},#{yhid},#{tzname},#{tzzy},to_date(substr(#{tztime},0,19),'yyyy-mm-dd hh24:mi:ss'),#{weight},#{tztext},#{tzphoto},0,1,'','')
	</insert> 
	
	<update id="updateTieZi" parameterType="TieZi">
	
		<selectKey keyProperty="ltid" keyColumn="ltid" order="BEFORE" resultType="int">
			select ltid  from luntan where ltname=#{ltname} and ltstatus=1 and 1>=rownum
		</selectKey>
		
		update tiezi 
		<set>
			<if test="ltname!=null and ltname!=''">
				ltid=#{ltid}
			</if>
			<if test="yhid!=null and yhid!=''">
				,yhid=#{yhid}
			</if>
			<if test="tzname!=null and tzname!=''">
				,tzname=#{tzname}
			</if>
			<if test="tzzy!=null and tzzy!=''">
				,tzzy=#{tzzy}
			</if>
			<if test="tztime!=null and tztime!=''">
				,tztime=to_date(substr(#{tztime},0,19),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="weight!=null and weight!=''">
				,weight=#{weight}
			</if>
			<if test="tztext!=null and tztext!=''">
				,tztext=#{tztext}
			</if>
			<if test="tzphoto!=null and tzphoto!=''">
				,tzphoto=#{tzphoto}
			</if>
			<if test="tzclick!=null and tzclick!=''">
				,tzclick=#{tzclick}
			</if>
			where tid=#{tid}
		</set> 
	</update> 
	
	<update id="delTieZi" parameterType="int">
		update tiezi set status=0 where tid=#{tid}
	</update>
	
	<select id="total" resultType="int">
		select count(1) from tiezi where status=1
	</select>
	
	<select id="findAllTieZi" parameterType="map" resultType="TieZi">
		select * from (select a.*,rownum rn from (select tz.*,lt.ltname,yh.yhzsname from tiezi tz,luntan lt,yonghu yh where tz.ltid=lt.ltid and tz.yhid=yh.yhid and tz.status=1) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<select id="find" parameterType="int" resultType="TieZi">
		select tz.*,lt.ltname,yh.yhzsname from tiezi tz,luntan lt,yonghu yh where tz.ltid=lt.ltid and tz.yhid=yh.yhid and tz.status=1 and tz.tid=#{tid}
	</select>
	
	
	<!-- 根据内容搜索相关帖子(hm) -->
	<select id="selectTeiZiByContent" parameterType="string" resultType="HDSearch">	
		select lt.ltname,yhzc.yhname,tz.tzname,tz.tzname,tz.tzclick,tz.tztext,tz.tztime from 
		tiezi tz,luntan lt,yonghu yh, yonghuzc yhzc    where status=1 and tz.ltid=lt.ltid and 
		tz.yhid=yh.yhid  and yh.yhzcid=yhzc.yhzcid    and tztext like CONCAT(CONCAT('%', #{content}), '%') order by tzclick
	</select>
	
	
	<select id="findCount" resultType="TieZiBean">
		select count(*) count from tiezi
	</select>
	
	<select id="findGongGao" resultType="GongGaoBean">
		select rownum,a.* from(select * from gonggao order by gid desc)a
	</select>
	
	<select id="findById" parameterType="map" resultType="TieZiBean">
		select rownum,b.* from (select a.*,rownum rn from (select tz.*,lt.ltname,yh.yhzsname,yh.yhphoto,(select count(*) from huitie where huitie.tid=tz.tid) htcount from tiezi tz,luntan lt,yonghu yh where tz.ltid=lt.ltid and lt.ltid=#{ltid} and tz.yhid=yh.yhid and tz.status=1 order by tz.tztime desc) a where #{pageNo}>=rownum)b where rn>#{pageSize}
	</select>
	<select id="findByIdCount" parameterType="int" resultType="TieZiBean">
		select count(*) count from tiezi where ltid=#{ltid}
	</select>
	
	<select id="findYesterdayCount"  resultType="TieZiBean">
		select count(*) YesterdayCount from tiezi where to_char(tztime,'yyyy-mm')=to_char(sysdate,'yyyy-mm') and to_char(tztime,'dd')=(to_char(sysdate,'dd')-1)
	</select>
	<select id="findTerdayCount"  resultType="TieZiBean">
		select count(*) TerdayCount from tiezi where to_char(tztime,'yyyy-mm-dd')=to_char(sysdate,'yyyy-mm-dd')
	</select>
	
	<select id="findByTids" parameterType="int" resultType="tieZiBean">
		select  tz.*,yh.yhzsname from tiezi tz,yonghu yh where tz.tid=#{tid} and yh.yhid=tz.yhid
	</select>
	
	<insert id="addTieZis" parameterType="map">
		insert into tiezi values(seq_tiezi_tid.nextval,#{ltid},#{yhid},#{tzname},#{tzzy},sysdate,0,#{tztext},#{tzphoto},0,1,'','')
	</insert>
	
	
</mapper>
