<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.hdmedia.mapper.TieZiMapper">
	<insert id="addTieZi" parameterType="TieZi">
	<!-- 帖子  -->
		<selectKey keyProperty="ltid" keyColumn="ltid" order="BEFORE" resultType="int">
			select ltid  from luntan where ltname=#{ltname} and ltstatus=1 and 1>=rownum
		</selectKey>
		insert into tiezi values(seq_tiezi_tid.nextval,#{ltid},#{yhid},#{tzname},#{tzzy},to_date(substr(#{tztime},0,19),'yyyy-mm-dd hh24:mi:ss'),#{weight},#{tztext},#{tzphoto},0,1,'','')
	</insert> 
	
	<update id="updateTieZi" parameterType="TieZi">
	
		<selectKey keyProperty="ltid" keyColumn="ltid" order="BEFORE" resultType="int">
			select ltid  from luntan where ltname=#{ltname} and ltstatus=1 and 1>=rownum
		</selectKey>
		
		update tiezi 
		<set>
			<if test="ltname!=null and ltname!=''">
				ltid=#{ltid}
			</if>
			<if test="yhid!=null and yhid!=''">
				,yhid=#{yhid}
			</if>
			<if test="tzname!=null and tzname!=''">
				,tzname=#{tzname}
			</if>
			<if test="tzzy!=null and tzzy!=''">
				,tzzy=#{tzzy}
			</if>
			<if test="tztime!=null and tztime!=''">
				,tztime=to_date(substr(#{tztime},0,19),'yyyy-mm-dd hh24:mi:ss')
			</if>
			<if test="weight!=null and weight!=''">
				,weight=#{weight}
			</if>
			<if test="tztext!=null and tztext!=''">
				,tztext=#{tztext}
			</if>
			<if test="tzphoto!=null and tzphoto!=''">
				,tzphoto=#{tzphoto}
			</if>
			<if test="tzclick!=null and tzclick!=''">
				,tzclick=#{tzclick}
			</if>
			where tid=#{tid}
		</set> 
	</update> 
	
	<delete id="delTieZi" parameterType="int">
		update tiezi set status=0 where tid=#{tid}
	</delete>
	
	<select id="total" resultType="int">
		select count(1) from tiezi where status=1
	</select>
	
	<select id="findAllTieZi" parameterType="map" resultType="TieZi">
		select * from (select a.*,rownum rn from (select tz.*,lt.ltname,yh.yhzsname from tiezi tz,luntan lt,yonghu yh where tz.ltid=lt.ltid and tz.yhid=yh.yhid and tz.status=1) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<select id="find" parameterType="int" resultType="TieZi">
		select tz.*,lt.ltname,yh.yhzsname from tiezi tz,luntan lt,yonghu yh where tz.ltid=lt.ltid and tz.yhid=yh.yhid and tz.status=1 and tz.tid=#{tid}
	</select>
</mapper>