<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.hdmedia.mapper.UserMapper">
	
	<insert id="addUser" parameterType="User">
		insert into yonghuzc values(seq_yonghuzc_yhzcid.nextval,#{yhname},#{yhemail,jdbcType=VARCHAR},#{yhpwd},#{yhzctime,jdbcType=VARCHAR},#{yhzcstatus},#{yhzcyl1,jdbcType=VARCHAR},#{yhzcyl2,jdbcType=VARCHAR})
	</insert>
	
	<select id="login" parameterType="User" resultType="User">
		select * from yonghuzc where yhname=#{yhname} and yhpwd=#{yhpwd}
	</select>
</mapper>