<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.hdmedia.mapper.YongHuMapper">
	
	<!-- 查询一共有多少个用户 -->
	<select id="getTotal" resultType="int">
		select count(1) from yonghu
	</select>
	
	<!-- 通过用户id查找用户 -->
	<select id="selectYongHuByGLId" parameterType="int" resultType="YongHu">
		select * from yonghu where yhid=#{yhid}
	</select>
	
	<select id="getAllYongHu" parameterType="map" resultType="YongHu">
		select * from (select a.*,rownum rn from (select * from yonghu order by yhid) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<select id="getAllYongHuInfo" parameterType="map" resultType="YongHu">
		select * from (select a.*,rownum rn from (select yh.*,yhname,yhemail,yhpwd,yhzctime from yonghuzc yhzc,yonghu yh where yhzc.yhzcid=yh.yhzcid  order by yhzc.yhzcid desc) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<update id="updateYongHu" parameterType="YongHu">
		update yonghu
		<set>
			<if test="yhzcid!=null and yhzcid!=0">
				yhzcid=#{yhzcid},
			</if>
			<if test="yhsex!=null and yhsex!=''">
				yhsex=#{yhsex},
			</if>
				<if test="yhage!=null and yhage!=0">
				yhage=#{yhage},
			</if>
				<if test="yhphone!=null and yhphone!=''">
				yhphone=#{yhphone},
			</if>
				<if test="yhqq!=null and yhqq!=''">
				yhqq=#{yhqq},
			</if>
				<if test="yhbirthday!=null and yhbirthday!=''">
				yhbirthday=to_date(#{yhbirthday},'yyyy-MM-dd'),
			</if>
			<if test="yhaddr!=null and yhaddr!=''">
				yhaddr=#{yhaddr},
			</if>
			<if test="yhphoto!=null and yhphoto!=''">
				yhphoto=#{yhphoto},
			</if>
			<if test="yhftnum!=null and yhftnum!=''">
				yhftnum=#{yhftnum},
			</if>
			<if test="yhdownload!=null and yhdownload!=''">
				yhdownload=#{yhdownload},
			</if>
			<if test="yhupload!=null and yhupload!=''">
				yhupload=#{yhupload},
			</if>
			<if test="yhjf!=null and yhjf!=''">
				yhjf=#{yhjf},
			</if>
			<if test="yhqd!=null and yhqd!=0">
				yhqd=#{yhqd},
			</if>
			<if test="yhjy!=null and yhjy!=0">
				yhjy=#{yhjy},
			</if>
			<if test="yhzhtime!=null and yhzhtime!=''">
				yhzhtime=to_date(#{yhzhtime},'yyyy-MM-dd'),
			</if>
			<if test="yhqianming!=null and yhqianming!=''">
				yhqianming=#{yhqianming},
			</if>
			<if test="yhstatus!=null and yhstatus!=0">
				yhstatus=#{yhstatus},
			</if>
		</set>
		where yhid=#{yhid}
	</update>
	
	<select id="getYongHuById" parameterType="int" resultType="YongHu">
		select * from yonghu where yhid=#{yhid}
	</select>
	
	<insert id="addYongHu" parameterType="YongHu">
		<trim prefixOverrides="," suffixOverrides="," prefix="insert into yonghu(" suffix=")">
			yhid,yhzcid,
			<if test="yhzsname!=null and yhzsname!=''">
				yhzsname,
			</if>
			<if test="yhsex!=null and yhsex!=''">
				yhsex,
			</if>
			<if test="yhage!=null and yhage!=0">
				yhage,
			</if>
				<if test="yhphone!=null and yhphone!=''">
				yhphone,
			</if>
				<if test="yhindentity!=null and yhindentity!=''">
				yhindentity,
			</if>
			<if test="yhqq!=null and yhqq!=''">
				yhqq,
			</if>
			<if test="yhbirthday!=null and yhbirthday!=''">
				yhbirthday,
			</if>
			<if test="yhaddr!=null and yhaddr!=''">
				yhaddr,
			</if>
			<if test="yhphoto!=null and yhphoto!=''">
				yhphoto,
			</if>
			<if test="yhftnum!=null and yhftnum!=''">
				yhftnum,
			</if>
			<if test="yhdownload!=null and yhdownload!=''">
				yhdownload,
			</if>
			<if test="yhupload!=null and yhupload!=''">
				yhupload,
			</if>
			<if test="yhjf!=null and yhjf!=''">
				yhjf,
			</if>
			<if test="yhqd!=null and yhqd!=0">
				yhqd,
			</if>
			<if test="yhjy!=null and yhjy!=0">
				yhjy,
			</if>
			<if test="yhzhtime!=null and yhzhtime!=''">
				yhzhtime,
			</if>
			<if test="yhqianming!=null and yhqianming!=''">
				yhqianming,
			</if>
			<if test="yhstatus!=null and yhstatus!=0">
				yhstatus,
			</if>
			<if test="yhyl1!=null and yhyl1!=''">
				yhyl1,
			</if>
			<if test="yhyl2!=null and yhyl2!=''">
				yhyl2
			</if>
		</trim>
		<trim prefixOverrides="," suffixOverrides="," prefix="values(" suffix=")">
			 <choose>
			 	<when test="yhid!=0 and yhid!=null">yhid=#{yhid},</when>
			 	<otherwise> <!-- seq_yonghu_yhid.nextval -->#{yhzcid},</otherwise>
			 </choose>
			#{yhzcid},
			<if test="yhzsname!=null and yhzsname!=''">
				#{yhzsname},
			</if>
			<if test="yhsex!=null and yhsex!=''">
				#{yhsex},
			</if>
			<if test="yhage!=null and yhage!=0">
				#{yhage},
			</if>
			<if test="yhphone!=null and yhphone!=''">
				#{yhphone},
			</if>
				<if test="yhindentity!=null and yhindentity!=''">
				#{yhindentity},
			</if>
			<if test="yhqq!=null and yhqq!=''">
				#{yhqq},
			</if>
			<if test="yhbirthday!=null and yhbirthday!=''">
				to_date(#{yhbirthday},'yyyy-MM-dd'),
			</if>
			<if test="yhaddr!=null and yhaddr!=''">
				#{yhaddr},
			</if>
			<if test="yhphoto!=null and yhphoto!=''">
				#{yhphoto},
			</if>
			<if test="yhftnum!=null and yhftnum!=''">
				#{yhftnum},
			</if>
			<if test="yhdownload!=null and yhdownload!=''">
				#{yhdownload},
			</if>
			<if test="yhupload!=null and yhupload!=''">
				#{yhupload},
			</if>
			<if test="yhjf!=null and yhjf!=''">
				#{yhjf},
			</if>
			<if test="yhqd!=null and yhqd!=0">
				#{yhqd},
			</if>
			<if test="yhjy!=null and yhjy!=0">
				#{yhjy},
			</if>
			<if test="yhzhtime!=null and yhzhtime!=''">
				to_date(#{yhzhtime},'yyyy-MM-dd'),
			</if>
			<if test="yhqianming!=null and yhqianming!=''">
				#{yhqianming},
			</if>
			<if test="yhstatus!=null and yhstatus!=0">
				#{yhstatus},
			</if>
			<if test="yhyl1!=null and yhyl1!=''">
				#{yhyl1},
			</if>
			<if test="yhyl2!=null and yhyl2!=''">
				#{yhyl2})
			</if>
		</trim>
	</insert>
	<delete id="deleteYongHuZCById" parameterType="int">
		<foreach collection="array" item="yhzcids" close=")"  open="delete yonghu where yhzcid in (" separator=",">
		 	#{yhzcids}
		 </foreach>
	</delete>
	
	<select id="getYongHuInfo" parameterType="int" resultType="YongHu">
		select * from yonghu where yhzcid=#{yhzcid}
	</select>
	
	<!-- 前台获取用户信息 -->
	<select id="selectYongHuInfo" parameterType="int" resultType="YongHu">
		select * from yonghu where yhzcid=#{yhzcid}
	</select>
	
	
</mapper>